---
BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
---
Language:                               Cpp
Cpp11BracedListStyle:                   true
Standard:                               Cpp11
CommentPragmas: '^ NOLINT'
ColumnLimit: 100
AccessModifierOffset: -1
IndentWidth: 2
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
